In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

**read the dataset**

In [2]:
df=pd.read_csv("C:\\Users\\Venkatesh\\OneDrive\\Desktop\\NIT BATCH 9 AM\\LINEAR REGREESION PYTHON CODE PRACTICE\\DATASETS\\winequality_red - winequality_red.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3193,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3195,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
3196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3197,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0

In [3]:
df.dropna(inplace=True)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
3,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
5,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5.0
7,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
9,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3189,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5.0
3191,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
3193,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
3195,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
3197,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0

In [4]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
3,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0
5,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0
7,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6.0
9,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0

In [5]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3189,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5.0
3191,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
3193,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
3195,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
3197,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1599 entries, 1 to 3197
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   float64
dtypes: float64(12)
memory usage: 162.4 KB

In [7]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [8]:
df.shape

(1599, 12)

In [9]:
df.size

19188

In [10]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [11]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                 float64
dtype: object

- you can apply mL models on numerical data only
- in the above dataset target column is:quality
- you need to predict the quality of the wine based on input given columns
- the target column data type is numerical
- if you have any categorical data,convert it into numerical before apply ML model
- if you having any missing values impute before apply the ML model

- **process to apply ML model**
- **First we will divide the data into two parts**
- **Train and test data with the ratio of 80:20 or 70:30**
- **Train data has both input data and output data: x_train ,Y_train**
- **Test data has both input data and output data: X_test,Y_test**
- **will develop ML model using the train data which mean using the X_tarin ,Y_train**
- **will pass the X_test alone to the developed model**
- **then the model will give the some output values these are called Y_predictions**
- **Finally we will compare we will compare Y_test with the Y_predictions**
- **Then we will calucalte the  all metrics**

**step-3**

- **in order to divide train and test data first sepearte input data and output data seperately**

In [12]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [13]:
# input_data
# output_data

In [14]:
# drop the quality column  from original data: input data
# select the quality column from the original data: output data

In [15]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
3,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0
5,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0
7,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6.0
9,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0

In [16]:
X=df.drop('quality',axis=1)
y=df['quality']

**Split  the data into Train and Test**

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
# you have 100 observations
# test size=0.2 20% is test data
# tarinsize=0.8 80% is train data
# random state 
# we are passing X:input y_output
# we are diving into 80:20
# test size=0.2
# we

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.2, random_state=1234)

In [20]:
df.shape

(1599, 12)

In [21]:
print(1599*(80/100))
print(1599*(20/100))

1279.2
319.8

In [22]:
print(X_train.shape)

(1279, 11)

In [23]:
print(X_test.shape)

(320, 11)

In [24]:
print(y_train.shape)

(1279,)

In [25]:
print(y_test.shape)

(320,)

**step-5**
- Develop the Ml model
- read the package
- save the package
- apply the fit transform

In [26]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(X_train,y_train)
LR

LinearRegression()

In [27]:
y_predictions=LR.predict(X_test)
y_predictions

array([5.18402693, 5.35222632, 5.59491103, 5.52091961, 6.34175415,
       5.39173054, 5.4386121 , 5.95987316, 5.47004148, 6.91005691,
       4.98509136, 5.23277066, 5.69063919, 5.52790309, 5.51816101,
       5.25774342, 4.97138685, 5.12531479, 6.16831487, 5.17480772,
       5.11570282, 5.84314362, 5.18881658, 5.47252159, 5.7234016 ,
       6.30684795, 5.29979062, 5.56538456, 6.00395044, 5.51753047,
       4.75589372, 6.22649885, 5.24955921, 5.61323762, 5.54866083,
       5.4907831 , 6.35361446, 5.23982145, 5.561088  , 5.81104267,
       5.21412309, 6.08767487, 5.71655198, 5.34443848, 5.65810399,
       5.02362366, 4.94708499, 5.80532814, 6.37676041, 5.54270371,
       4.92835023, 5.73605681, 6.61798021, 6.15855747, 5.3704761 ,
       5.11932029, 6.22074911, 5.2262822 , 6.44385318, 5.26198348,
       5.28301604, 5.12118822, 5.12443471, 5.59218111, 5.02408579,
       6.1394565 , 5.71787898, 6.31942795, 5.27013911, 6.0846879 ,
       5.72948584, 5.53327202, 5.25038298, 6.17460327, 5.56538456,
       5.32083864, 6.0150401 , 6.43530813, 4.88814887, 5.04913954,
       5.68729866, 5.57896455, 5.7290186 , 5.97612524, 5.36898168,
       5.02880372, 6.12712446, 5.31278196, 5.98479919, 6.13194433,
       6.51189266, 5.41283432, 6.05002097, 5.0137043 , 5.46517764,
       5.90374559, 5.30178062, 6.6341725 , 6.55082539, 6.0150401 ,
       5.39782793, 5.49065123, 5.00327726, 5.55240601, 5.56966691,
       5.31776897, 5.8785315 , 5.16223316, 5.42433364, 5.50048598,
       6.36084316, 5.56366246, 6.20650152, 5.33506802, 5.55268727,
       5.65470064, 5.38775256, 5.88472934, 6.79479485, 5.22782945,
       5.95305554, 6.00736039, 5.60945827, 6.32139675, 6.04958854,
       5.08971314, 5.24655894, 6.46316326, 6.26310018, 6.20577219,
       5.30871293, 5.06889943, 5.87371277, 5.04742047, 5.29421699,
       6.33394821, 5.86535105, 5.44319332, 5.41377041, 5.55953192,
       5.92200919, 4.90131241, 5.42674997, 5.17617378, 5.75249678,
       5.73817797, 5.20373637, 6.21836803, 6.14855266, 5.38058809,
       5.47800612, 5.76410437, 6.55219996, 6.67759536, 6.01314068,
       5.82095648, 5.7008064 , 5.6372558 , 6.53315447, 5.58878886,
       6.39210152, 5.79143598, 6.00258743, 5.36003016, 5.78468889,
       6.11196626, 5.35037059, 4.26057299, 5.76791222, 5.93493452,
       4.91915794, 5.72793247, 4.98863426, 5.73442024, 6.54892053,
       5.99519265, 5.32064824, 5.5417675 , 5.75760708, 4.99679769,
       6.00322766, 5.22622448, 5.81451724, 6.55850657, 5.26574422,
       5.14661707, 6.47572385, 6.66312736, 5.82315529, 6.20626549,
       6.01180722, 5.5084863 , 4.76066998, 6.41669333, 5.33756863,
       4.80308078, 5.37155263, 6.9354863 , 5.31029439, 5.0480916 ,
       5.85891607, 5.89886295, 5.74584066, 5.01770049, 6.60247899,
       5.57766701, 5.8545049 , 5.11620488, 5.05950153, 4.8547598 ,
       5.67796929, 5.02413353, 5.61492682, 5.08946876, 5.90855691,
       6.66104943, 5.34975935, 5.36444569, 5.34261961, 5.61719826,
       5.58848586, 5.89060018, 4.91678293, 5.39826875, 5.78675148,
       4.98881432, 5.50889257, 6.13549554, 5.58819852, 5.99411749,
       6.31666165, 5.50318331, 5.71787898, 5.0510233 , 5.44834178,
       5.30067944, 6.40801641, 5.76406936, 5.79597235, 6.33739864,
       5.26793641, 5.09437997, 6.34545057, 5.26134981, 5.23889138,
       4.96522989, 4.94576152, 5.76101187, 6.44246558, 6.2376922 ,
       5.64193325, 5.72848848, 6.19479981, 5.02413353, 5.84825118,
       5.48096597, 5.32537219, 5.19429238, 5.80581404, 5.40012258,
       5.40404058, 5.04857237, 6.12756557, 6.3227982 , 5.90458709,
       6.06247903, 6.05103932, 5.90143817, 5.35740672, 5.3704761 ,
       5.08845724, 5.28767367, 5.42170404, 5.37003359, 5.6390435 ,
       5.7296821 , 6.07227189, 4.96325159, 5.56339633, 5.33250366,
       6.12791952, 5.76158439, 5.86698002, 5.39748052, 5.28465633,
       5.75837267, 5.8149593 , 5.04968   , 5.32844916, 5.75393581,
       6.40127499, 5.9373478 , 4.96300949, 5.84909362, 5.70593835,
       5.61992295, 5.18050416, 5.35265055, 4.98881432, 5.3791698 ,
       5.94624924, 6.53523473, 5.91201571, 5.12493362, 6.52934475,
       6.3308775 , 5.73186785, 4.97265088, 5.64601463, 5.15505816,
       5.39108249, 5.11050691, 5.73657613, 5.55826824, 6.03342611,
       5.22024243, 5.14645374, 6.27657951, 5.77733102, 5.12131274])

In [28]:
# y predictions are given by the model
len(y_predictions)

320

In [29]:
# y_test consider as actual output
len(y_test)

320

In [30]:
y_test[:5].values

array([5., 5., 6., 6., 7.])

In [31]:
y_predictions[:5]

array([5.18402693, 5.35222632, 5.59491103, 5.52091961, 6.34175415])

**step-7**

**metrics evaluation**

In [32]:
Label Encoder :preprocessing
StandardScalr :preproprecessing
from sklearn.preprocessing import MinMaxScaler
train_test_split:model related
from sklearn.linear_model import

SyntaxError: invalid syntax (1675729556.py, line 1)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
# we have to pass the actual ouput y_test and predictions  y_predictions

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
print(mean_squared_error(y_test,y_predictions))
print(mean_absolute_error(y_test,y_predictions))
print(r2_score(y_test,y_predictions))

In [ ]:
# mean square error manually
# understand the formulae
#ya-y actual
#yp-y-preditions
# n-number of observations
#we will take the each observation subtraction and then square and the summation and then we divide it will be number of the observations

In [ ]:
import numpy as np
summ=0
for i in range(len(y_test)):
    summ=+summ+(np.square(y_test.values[i]-
          y_predictions[i]))
summ/len(y_test)

In [ ]:
np.sqrt(mean_squared_error(y_test,y_predictions))

In [ ]:
(mean_squared_error(y_test,y_predictions))**0.5

In [ ]:
plt.figure(figsize=(10,10))
sns.heatmap(df.corr(),annot=True)

In [ ]:
# we develop the model
# you want to handover model to client 
# we need to save the model and share

In [ ]:
#LR
#he dont want to do all 10 steps what we have done
# he ask the you develop a model right share that model to me
# i will pass the test cases so that i will provide the test cases so that i will get the predictions

In [ ]:
#pickle

In [34]:
import pickle
file=open('linear_wine_model.pkl','wb')
pickle.dump(LR,open('linear_wine_model.pkl','wb'))

In [ ]:
#dataframe you want to save the dataframe
# df.to_csv("<path>".csv)

In [ ]:
# to save the models will use 
#pickle 
#joblib
#google tensorflow 
# DL: tf.save()